header {
    height: 120px;
    background-color: #bebebe;
    position: fixed;
    top: 0px;
    width: 100%;
}

footer {
    background-color: #0d0d0d;
    height: 150px;
}

main {
    min-height: 500px;
    background-color: gray;
    padding-top: 120px;
    text-align: center;
    font-family: 'Shadows Into Light';
    cursive;
    /* pushe the content under the header */
}

.yep {
    font-size: 40px;
    filter: opacity(.50);
    background-image: url("images/home/FlatironsWinter.jpg");
    width: 100%
}

p {
    width: 750px;
    text-align: center;
    margin: auto;
}

.wrapper {
    width: 980px;
    margin: auto;
}

.wrapper:after {
    content: " ";
    display: table;
    clear: both;
}


/*--- logo ---*/

header h1 a {
    text-decoration: none;
    color: #424254;
}

header h1 {
    float: left;
    font-size: 60px;
    margin: 0;
    padding-top: 20px;
    font-family: Arial, sans-serif;
}

header h1 a:hover {
    color: red;
}


/* -- navigation -- */

* {
    font-family: 'Shadows Into Light';
    cursive;
}

#top-nav {
    float: right;
    margin-top: 57px;
}

#top-nav ul {
    margin: 0;
    list-style: none;
}

#top-nav ul li {
    float: right;
    margin-left: 40px;
}

#top-nav ul li a {
    font-size: 40px;
    color: #fff;
    text-decoration: none;
}

#top-nav ul li a:hover {
    color: red;
}
